---
layout: default
---
<div class="container">
<div class="row">
  <div class="offset-md-1 col-md-10">
  <div class="hero">
    <p class="hero-logo"><a href="/"><img src="{{ '/assets/img/econ-ark-logo.png' | relative_url }}"></a></p>

    <div class="hero-desc">
      <p>The Econ-ARK project provides open-source toolkits for researchers trying to understand how economic and social
        outcomes result from the actions of heterogeneous individuals.</p>
    </div>
  </div>
  </div>  
</div>
</div>

<h1 class="visuallyhidden">Econ-ARK</h1>

<!-- <div class="home-welcome">
  <div class="container">
    {{ content }}
  </div>
</div> -->

<div class="home-about">
  <div class="container">
    <div class="row">
      <div class="offset-md-1 col-md-10">
        <p> The primary goals of the project are to make entry into the world of economic modeling easy; to accelerate the development of this kind of modeling for policy-making and academic research; and to increase the openness, replicability, and interoperability of modeling tools.</p>
        <p>The heart of Econ-ARK is making reproducible papers. The <a href="#">ARKitecture of Econ-ARK</a> consists of a code toolkit (HARK), demonstrations of using the toolkit (DemARK), and a <a href="#">Materials Library</a> replicating modeling results of published papers (REMARK). </p>
        <p>Read through the <a href="#">Quick Start Guide</a> to get up and running with HARK, or for developers the <a href="#">Contributing Guidelines</a>.</p>
        </div>
        <!-- <div class="col-md-6 offset-md-1">
        <ul>
          <li><a href="#">ARKitecture of Econ-ARK</a>
          </li>
          <li><a href="#">Introduction to HARK</a></li>
          <li><a href="#">Quick Start Guide</a></li>
          <li><a href="#">Materials Library</a></li>
        </ul>
        </div> -->
      </div>
    </div>
  </div>
</div>

<div class="ark-parts">
  <div class="container">
    <div class="row gx-5">
      <div class="part col-md-4">
        <h2 class="title">HARK</h2>
        <p class="subtitle">Heterogeneous Agents Resources and toolKit</p>
        <div class="desc">
          <p>HARK is a toolkit which makes it much easier and faster to develop solutions and estimation methods for new
            models.</p>
          <p>Econ-ARK has developed an open source repository of highly modular, easily interoperable code for solving,
            simulating, and estimating dynamic economic models with heterogeneous agents.</p>
        </div>
        <p class="link"><a href="#">Introduction to HARK</a></p>
      </div>
      <div class="part col-md-4">
        <h2 class="title">DemARK</h2>
        <p class="subtitle">Demonstrations of tools, AgentTypes, and ModelClasses</p>
        <div class="desc">
          <p>DemARK contains a collection of code demonstrations to give you a feeling for how the code works and what you
            can do with it.</p>
          <p>These demonstrations form a repository produced by Econ-ARK containing a series of Jupyter Notebooks for
            demonstrating how to use material in the Econ-ARK.</p>
        </div>
        <p class="link"><a href="#">DemARK Repository</a></p>
      </div>
      <div class="part col-md-4">
        <h2 class="title">REMARK</h2>
        <p class="subtitle">R[eplications/eproductions] and Explorations Made using ARK</p>
        <div class="desc">
          <p>REMARKs are self-contained and complete projects that can be executed by anyone.</p>
          <p>They include Explorations using HARK to demonstrate modelling ideas, Replications of important results of
            published papers written using other tools, and Reproductions of all the code within a paper. </p>
        </div>
        <p class="link"><a href="#">Materials Library</a></p>
      </div>
    </div>
  </div>
</div>

<!-- <div class="home-actions">
  <div class="container">
    <h2 class="heading">Get involved and start using Econ-ARK</h2>

    <p class="subheading">
      Use the toolkit, view materials and get in touch with the team
    </p>

    <ul class="actions">
      <li>
        <a href="{{ 'about' | relative_url }}">
          <i class="fas fa-info-circle"></i>
          <p class="desc">Learn more about the Econ-ARK project</p>
          <p class="button">About</p>
        </a>
      </li>
      <li>
        <a href="{{ 'toolkit' | relative_url }}">
          <i class="fas fa-tools"></i>
          <p class="desc">Get started with the HARK Toolkit</p>
          <p class="button">Toolkit</p>
        </a>
      </li>
      <li>
        <a href="{{ 'materials' | relative_url }}">
          <i class="fas fa-code"></i>
          <p class="desc">View Econ-ARK produced Jupyter Notebooks</p>
          <p class="button">Notebooks</p>
        </a>
      </li>
      <li>
        <a href="https://github.com/econ-ark/">
          <i class="fab fa-github"></i>
          <p class="desc">View project activity on GitHub</p>
          <p class="button">GitHub</p>
        </a>
      </li>
    </ul>
  </div>
</div> -->