---
layout: default
---

{{ content }}

<p class="visuallyhidden">
  The following list of links filter and update content in the table below.
</p>

<div class="display-controls">

  <p class="controls-label">
    Show materials:
  </p>

  <ul class="tabs-toggles">
    <li><a id="toggle-all" class="active">All</a></li>
    <li><a id="toggle-remark">REMARK</a></li>
    <li><a id="toggle-demark">DemARK</a></li>
    <li><a id="toggle-example">Example</a></li>
    <li><a id="toggle-documentation">Documentation</a></li>
  </ul>

</div>

<div class="materials-panel">

  <form class="tag-filter">
      <label for="tagSelect">Tags:</label>
      <select name="tagSelect" id="tagSelect" placeholder="Select tags" multiple>
      </select>

      <label for="titleSearch">Title Search:</label>
      <input name="titleSearch" id="titleSearch"></input>

      <input class="btn submit-btn" type="submit"></input>
  </form>

  <table class="materials" id="materialsList">
    <thead>
      <tr>
          <th>Material</th>
          <th>Authors</th>
          <th>Abstract</th>
      </tr>
  </thead>
    <tbody>
    {% for material in site.materials %}
    <tr class="material visible">
      <td class="material__details">
        <p class="title"><a href="{{ material.url }}">

          {% assign github_parts = material.github_repo_url | split: "/" | reverse %}
          {% assign github_repo = github_parts[0] %}

          {% if material.name %}
          {{ material.name }}
          {% elsif material.title %}
          {{ material.title }}
          {% elsif material.remark-name %}
          {{ material.remark-name }}
          {% elsif material.title-original-paper %}
          {{ material.title-original-paper }}
          {% else %}
          {{ github_repo }}
          {% endif %}

        </a></p>
        <ul class="tags">
          {% for tag in material.tags %}
          <li>{{ tag }}</li>
          {% endfor %}
          </ul>

      </td>
      <td class="material__authors">
        <ul class="authors">
          {% for item in material.authors %}
          <li>{{ item.family-names }}</li>
          {% endfor %}
        </ul>
      <td class="material__tags">
        <p class="summary">{{ material.abstract | truncatewords: 30 }}</p>
      </td>
    </tr>
    {% endfor %}
  </tbody>
  </table>
  </div>

<script>
const table_rows = document.querySelectorAll("tr.material")
const form = document.querySelector("form")
const tags = [...document.querySelectorAll("ul.tags li")].map((v) => { return v.innerText });

const tagSelect = document.getElementById('tagSelect');
const titleSearch = document.getElementById('titleSearch');

form.addEventListener("change", (e) => {
  let evt = document.createEvent("Event");
  evt.initEvent("submit", true, true);
  form.dispatchEvent(evt)
});

function isSuperset(set, subset) {
  for (const elem of subset) {
    if (!set.has(elem)) {
      return false;
    }
  }
  return true;
}

form.addEventListener("submit", function(e) {
  e.preventDefault()
  const formData = new FormData(form);

  table_rows.forEach(function(row) {
    const row_title = row.querySelector("p.title").innerText;
    const row_tags = new Set([... row.querySelectorAll("ul.tags li")].map((v) => { return v.innerText} ));

    const title_matches = row_title.toLowerCase().includes(formData.get("titleSearch"));
    const tag_matches = isSuperset(row_tags, formData.getAll("tagSelect"));
    if (title_matches && tag_matches) {
      row.style.display = '';
    } else {
      row.style.display = 'none';
    }
  });
  return false;
});

document.addEventListener("DOMContentLoaded", () => {
  const choices = new Choices(tagSelect, {
    allowHTML: true,
    choices: [...new Set(tags)].map((v) => { return {'value': v} }),
    delimiter: ',',
    editItems: true,
    maxItemCount: 5,
    removeItemButton: true,
  });

  const tabLinks = document.querySelectorAll('.tabs-toggles li a');
  for (var i = 0; i < tabLinks.length; i++) {
    tabLinks[i].addEventListener('click', function (e) {
      e.preventDefault();
      for (var j = 0; j < tabLinks.length; j++) {
        tabLinks[j].classList.remove('active');
        choices.removeActiveItemsByValue(tabLinks[j].innerText);
      }
      this.classList.add('active');

      if (this.innerText != 'All') {
        choices.setChoiceByValue(this.innerText);
        console.log(this)
      }
      let evt = document.createEvent("Event");
      evt.initEvent("change", true, true);
      tagSelect.dispatchEvent(evt)
    });
  }
});

</script>
