<!DOCTYPE HTML>
<html lang="en-US">
    <head>
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-54984338-5"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', '{{ site.google_analytics }}');
        </script>
        
        <meta name="google-site-verification" content="-Gi_qH7W8pcMP-keCKFRORYUpAe01WKDYHbWPn6KEGc" />
        <meta charset="UTF-8">
        <meta http-equiv="refresh" content="0; url=http://example.com">
        <script type="text/javascript">
            window.location.href =  "https://mybinder.org/v2/gh/econ-ark/Pandemic/master?urlpath=voila%2Frender%2FCode%2FPython%2Fdashboard.ipynb"
        </script>
        <title>Page Redirection</title>
    </head>
    <body>
        <!-- Note: don't tell people to `click` the link, just tell them that it is a link. -->
        If you are not redirected automatically, follow this <a href=' https://mybinder.org/v2/gh/econ-ark/Pandemic/master?urlpath=voila%2Frender%2FCode%2FPython%2Fdashboard.ipynb'>link to dashboard</a>.
    </body>
</html>
