<!DOCTYPE HTML>
<html lang="en-US">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="refresh" content="0; url=http://example.com">
        <script type="text/javascript">
            window.location.href =  "https://mybinder.org/v2/gh/econ-ark/Pandemic/52a7debd713cab7c1353c1460dcaa66b17fb1bee?urlpath=voila%2Frender%2FCode%2FPython%2Fdashboard.ipynb"
        </script>
        <title>Page Redirection</title>
    </head>
    <body>
        <!-- Note: don't tell people to `click` the link, just tell them that it is a link. -->
        If you are not redirected automatically, follow this <a href=' https://mybinder.org/v2/gh/econ-ark/Pandemic/52a7debd713cab7c1353c1460dcaa66b17fb1bee?urlpath=voila%2Frender%2FCode%2FPython%2Fdashboard.ipynb'>link to dashboard</a>.
    </body>
</html>
